---
layout: layout.html
kpermalink: "/jia/{% if pagination.pageNumber > 0 %}{{pagination.pageNumber + 1 }}/{% endif %}index.html"
pagination: 
   data: collections.post
   size: 9
   alias: posts
   reverse: true
   
---
<div class="container">
    <div class="jumbotron">
        <h3>Candy News Network</h3>
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            
            {% for post in posts %}
            <li><a href="{{ post.url }}">{{ post.data.date | date: "%m/%d/%y"}} - {{ post.data.title }}</a></li>
            {% endfor %}

        </ul> 
    </div>


<div>
    <ul>
    {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">Prev</a></li>{% endif %}
    
    <!-- gold start -->
        {% for pageNumber in pagination.pages %}
            <li><a href="{{ pagination.hrefs[forloop.index0] }}">{{ forloop.index }}</a></li>
        {% endfor %}
    <!-- gold end -->

    {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">Next</a></li>{% endif %}
    </ul>
    </div>
</div>




 