---
layout: layout.html
pagination:
  data: collections.post
  size: 5
  alias: posts
---
<div class="container">
    <div class="jumbotron">
        <h3>Candy News Network</h3>
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            {% for post in posts %}
                <li><a href="{{ post.url }}">{{ post.data.date | date: "%m/%d/%y"}} - {{ post.data.title }}</a></li>
            {% endfor %}  
        </ul>
    </div>

    <!-- Manual Pagination Navigation -->
    <div class="pagination">
        {% if pagination.previousPage %}
            <a href="{{ '/' | url | url + (pagination.previousPage > 1 ? 'page/' + pagination.previousPage + '/' : '') }}">Previous</a>
        {% endif %}

        {% for page in pagination.pages %}
            <a href="{{ '/' | url | url + (page > 1 ? 'page/' + page + '/' : '') }}" {% if page == pagination.pageNumber %}class="active"{% endif %}>{{ page }}</a>
        {% endfor %}

        {% if pagination.nextPage %}
            <a href="{{ '/' | url | url + 'page/' + pagination.nextPage + '/' }}">Next</a>
        {% endif %}
    </div>
</div>
